# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# MLflow
mlruns/

# DVC Cache
.dvc/cache/

# Logs
logs/
*.log

# Streamlit
.streamlit/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
temp/
temp_api_image.jpg

# Build Files
build/
dist/
*.egg-info/

# Model Files
models/*.h5
models/*.pt
models/*.pth

# Large Embedding Files
data/embeddings/*.pklcls
